@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5eee5;
  color: #4a2f1f;
  text-align: center;
}

.container {
  max-width: 540px;
  margin: auto;
  padding: 2rem 1rem;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

hr {
  margin: .1rem auto;
  width: 66%;
  border: none;
  border-top: 3px solid #4a2f1f;
}

.tagline {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.contact {
  margin-top: 2rem;
}

.email {
  font-size: 1.5rem;
}

 a {
  color: #4a2f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.contact p {
  margin: 1rem;
}

.contact {
  margin: 3rem auto;
  width: 66%;
}